
footer.footer.page-footer
    .container
        .row.border-bottom.footer_copyright-section
            .col-12.order-1.col-sm-4.order-sm-0.text-center.text-sm-left
                span.footer_copyright ©2020 Yourcompany
            .col-6.col-sm-4.d-flex.justify-content-center
                a(href="")
                    img(src="./img/Landie.svg", alt="footer logo")
            .col-6.col-sm-4.d-flex.justify-content-end
                button.btn.btn-fill.btn-sm.ml-auto Purshase Now
        .row.justify-content-between.alignitems-center.footer_nav-section
            .col-12.col-sm-6
                ul.footer_nav
                    li.footer_nav-item
                        a.footer_link(href="") Home
                    li.footer_nav-item
                        a.footer_link(href="") About
                    li.footer_nav-item
                        a.footer_link(href="") Contact
            .col-12.col-sm-6.justify-content-sm-end.footer_social
                ul.footer_nav
                    li.footer_nav-item
                        a.footer_link--social(href="")
                            img(src="./img/icons/facebook.svg", alt="social icon")
                    li.footer_nav-item
                        a.footer_link--social(href="")
                            img(src="./img/icons/linkedin.svg", alt="social icon")
                    li.footer_nav-item
                        a.footer_link--social(href="")
                            img(src="./img/icons/twitter.svg", alt="social icon")
                    li.footer_nav-item
                        a.footer_link--social(href="")
                            img(src="./img/icons/youtube.svg", alt="social icon")
                    li.footer_nav-item
                        a.footer_link--social(href="")
                            img(src="./img/icons/instagram.svg", alt="social icon")


                   

