

header.header
    .container 
        .row.align-items-center
            .col-12.col-md-4.order-1.order-md-0.text-sm-center
                .nav_menu
                    a.nav-link(href="") Home
                    a.nav-link(href="") About
                    a.nav-link(href="") Contact
            .col-6.col-md-4.d-flex.justify-content-md-center.justify-content-sm-start
                .nav-brand
                    img(src="./img/Landie.svg", alt="logo")
            .col-6.col-md-4.d-flex.justify-content-end.align-items-center
                button.btn.btn-fill.btn-lg Buy Now