section.pricing
    .container
        .row.justify-content-center.text-center
            .pricing_content.col-12.col-md-6
                h2.pricing_title A Price To Suit Everyone
                p.pricing_text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
                .pricing_info
                    span.pricing_price $40
                    p.pricing_item UI Design Kit
                .pricing_cta
                    .pricing_details See, One price. Simple.
                    .btn.btn-fill.btn-lg Purchase Now
