* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.wrapper {
    width: 50%;
    height: 100vh;
    border-radius: 5px;
    box-shadow: 1px 2px 10px #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper.nav {
    background-color: #333333;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Nav icon */

.nav_icon_line:nth-of-type(odd) {
    display: block;
    width: 50px;
    height: 4px;
    margin-top: 12px;
    margin-bottom: 12px;
    background: linear-gradient(to right, #fff 0% 20%, #333333 20% 35%, #fff 35% 100%);
}
.nav_icon_line {
    display: block;
    width: 50px;
    height: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
    background: linear-gradient(to left, #fff 0% 20%, #333333 20% 35%, #fff 35% 100%);
    opacity: 1;
}
.nav_icon .l1 {
    transition: .6s;
}
.nav_icon .l2,
.nav_icon .l3 {
    transition: .9s;
}
.nav_icon:hover {
    cursor: pointer;
}
.nav_icon:hover .l2 {
    box-shadow: 0px 0px 7px 2px rgba(115,255,0,1);
}
.nav_icon:hover .l3 {
    box-shadow: 0px 0px 7px 2px rgba(255,0,0,1);
}


.l1_active {
    transform: translateY(-30px);
    opacity: 0;
}
.l2_active {
    transform: rotate(45deg); 
}
.l3_active {
    transform: rotate(-45deg) translate(12px,-10px); 
}



/* Pendulum */
.wrapper.ul {
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.pendulum {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
/* .gradient {
    background-image: linear-gradient(to right, rgb(45, 25, 156), rgb(179, 19, 27));
} */
.pendulum_item {
    position: relative;
    display: block;
    margin-left: 0;
    margin-right: 0;
    height: 32px;
    width: 32px;
    border-radius: 50%;
   
    background-image: linear-gradient(to right, rgb(47, 12, 143), rgb(179, 19, 27));
    background-size: 300% 100%;
    background-position: 0%;
    box-shadow: inset -5px -5px 15px rgba(0,0,0,.5), inset 2px 2px 10px rgba(255, 255, 255, 0.4);
}




  .shadows {
      position: relative;
      display: flex;
      margin: 0;
     padding: 0;
     margin-top: 10px;
  }
  .shadow_item {
    
    display:block;
    
    width:32px;
    margin: 0 2%;
    height:10px;
    left:0px;
    bottom:-20px;

    border-radius: 50%;
    opacity: 0.2;
    
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
  }

  .pendulum_item:first-child {
       animation: rotateLeft 1s infinite alternate linear, movesLeft 1s infinite alternate linear;
       
    }
   .pendulum_item:last-child {
        animation: rotateRight 1s .5s infinite alternate linear, movesRight 1s .5s infinite alternate linear;
    }
    .shadow_item:first-child {
        animation: shadowLeft 1s infinite alternate linear;
    }
    .shadow_item:last-child {
        animation: shadowRight 1s .5s infinite alternate linear;
    }


    
 

  @keyframes rotateLeft {
    0%   { transform: rotate(0deg);}
    25% { transform: rotate(20deg);}
    50% { transform: rotate(0deg);}
    100% { transform: rotate(0deg);}
  } 
  @keyframes movesLeft {
    0%   { transform: translate(0,0);}
    25% { transform: translate(-10px,-10px);}
    50% { transform: translate(-16px,-20px);}
    100% { transform: translate(0,0);}
  } 
  
  @keyframes rotateRight {
    0%   { transform: rotate(0deg);}
    25% { transform: rotate(-20deg);}
    50% { transform: rotate(0deg);}
    100% { transform: rotate(0deg);}
  } 
  @keyframes movesRight {
    0%   { transform: translate(0,0);}
    25% { transform: translate(10px,-10px);}
    50% { transform: translate(16px,-20px);}
    100% { transform: translate(0,0);}
  } 
  

@keyframes shadowLeft {
    0% {transform: scaleX(1) skew(0) translateX(0);opacity:0.2;}
    25% {transform: scaleX(1.2) skew(15deg) translateX(-20px);opacity:0.15;}
    50% {transform: scaleX(1.5) skew(0) translateX(-30px);opacity:0.1;}
    100% {transform: scale(1) skew(0) translateX(0);opacity:0.2;}
}


@keyframes shadowRight {
    0% {transform: scaleX(1) skew(0) translateX(0);opacity:0.2;}
    25% {transform: scaleX(1.2) skew(-15deg) translateX(20px);opacity:0.15;}
    50% {transform:  scaleX(1.5) skew(0) translateX(30px);opacity:0.1;}
    100% {transform:  scale(1) skew(0) translateX(0);opacity:0.2;}
}




