@import url('./fonts.css');
* {
    box-sizing: border-box;
    transition: .2s linear;
}
html, body {
    font-family: 'Helvetica', 'Avenir', sans-serif;
    font-size: 16px;
    line-height: 160%;
    color: #000;
    background-color: #fff;
}
.container {
    max-width: 1170px;
    width: 100%;
    margin: auto;
    padding: 0 25px;
}

/* Header */
.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
}

.nav {
    display: flex;
    min-width: 350px;
    justify-content: space-between;
}
.nav_item a {
    text-decoration: none;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 160%;
    color: #4B5D68;
}
.nav_item--active a {
    font-weight: bold;
    color: #212353;
}
.nav_item:hover a{
    color: #F063B8;
}
.header_btn {
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

.section_header {
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 150px;
    width: 52%;
    justify-content: space-between;
}
.section_title {
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 130%;

    color: #212353;
}
.section_text {
    font-family: 'Avenir';
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 160%;

    color: #4B5D68;
}


/* Buttons */
.btn {
    height: 60px;
    border-radius: 50px;
    font-family: 'Avenir';
    font-weight: bold;
    line-height: 160%;
}
.btn--demo {
    display: flex;
    align-items: center;

    font-size: 1rem;
    color: #212353;
    letter-spacing: 0.005em;
    

    padding-left: 30px;
    padding-right: 25px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}
.btn--demo:hover {
    color: #fff;
    background-color: #F063B8;
}
.btn--demo:hover .btn_arrow {
    width: 30px;
    background-color: #fff;
}
.btn--demo:hover .btn_arrow:before,
.btn--demo:hover .btn_arrow:after {
    background-color: #fff;
}

.btn--violet {
    color: #FFFFFF;
    font-size: 1.125‬rem;
    background: #9C69E2;
    padding: 0 37px;
}
.btn--violet:hover {
    color: #fff;
    background-color: #F063B8;
    box-shadow: 0px 3px 10px rgba(75, 93, 104, 0.3);
}
.btn--pink {
    color: #FFFFFF;
    font-size: 1.125‬rem;
    background: #F063B8;
    padding: 0 37px;
    border:2px solid transparent;
}
.btn--pink:hover {
    background: #fff;
    border: 2px solid #F063B8;
    color: #F063B8;
    box-shadow: 0px 3px 10px rgba(75, 93, 104, 0.3);
}
.btn_arrow {
    position: relative;
    margin-left: 20px;

    display:inline-block;
    width: 20px;
    height: 2px;
    background-color: #9C69E2;
}
.btn_arrow:before,
.btn_arrow:after {
    position: absolute;
    content: "";
    width: 10px;
    height: 2px;
    background-color: #9C69E2;
}
.btn_arrow:before {
    top: 3px;
    right: -2px;
    transform: rotate(-45deg);
}
.btn_arrow::after {
    bottom:3px;
    right: -2px;
    transform: rotate(-135deg);
}

/* Intro */

.intro {
    /* background-image: url(./img/intro_bg.png);
    background-repeat: no-repeat;
    background-position: 75% 95%;
    background-size: auto; */
    position: relative;
}
.intro_inner {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro_content {
    display: flex;
    flex-direction: column;
    min-height: 465px;
    width:60%;
    justify-content: space-between;
    align-items: flex-start;
}
.main_title {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 5rem;
    line-height: 110%;
    color: #212353;
}
.text {
    max-width: 50%;
}
.intro_img {
    position: absolute;
    top: 35%;
    left: 38%;

}


/* We are */
.weare {
    padding: 50px 0;
    margin-top: 100px;
}
.weare_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 95px;
    padding-left: 10px;
    margin: auto;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    min-height: 560px;
}
.weare_content {
    display: flex;
    width: 43%;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
}

/* Features */
.features {
    padding: 50px 0;
}
.features_inner {
    text-align: center;
}
.section_title {
    font-size: 2.5‬rem;
    color: #212353
}

.features_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 125px 0 45px 0;
}
.feature_item {
    flex-basis: 46%;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    text-align: left;
    height: 375px;
}
.feature_img {
    height: auto;
    max-width: 100%;
}
.feature_text {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    height: 250px;
}
.feature_title{
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 130%;
    color: #212353;
    margin-bottom: 20px;
}
.feature_description {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 160%;
    color: #4B5D68;
}
.feature_btn {
    display: flex;
    align-items: center;
    margin-top: auto;
    text-decoration: none;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 1rem;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: #212353;
}
.feature_btn:hover {
    color: #F063B8;
}
.feature_btn:hover .btn_arrow {
    width: 30px;
    background-color: #F063B8;
}
.feature_btn:hover .btn_arrow:before,
.feature_btn:hover .btn_arrow:after {
    background-color: #F063B8;
}

/* Testimonials */

.testimonials .section_title {
    color: #fff;
}
.testimonials_inner {
    background: #9C69E2;
    border-radius: 50px;
    padding: 100px 76px 60px 90px;
    min-height: 580px;
    display: flex;
    flex-direction: column;
}
.testimonials_inner .section_title {
    margin-bottom: 90px;
}
.testimonials_slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 100px 50px 100px;
    min-height: 330px;

    background: #FFFFFF;
    box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
    border-radius: 20px;
}
.testimonials_slider img {
    align-self: flex-start;
}
.testimonials_content {
    width: 75%;
}
.testimonials_client {
    font-family: 'Avenir';
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 160%;
    letter-spacing: 0.005em;

    color: #212353;
}
.testimonials_site {
    font-family: 'Avenir';
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #9C69E2;
}
.testimonials_text {
    width: 90%;
    margin-top: 20px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 180%;

    color: #4B5D68;
}
.testimonials_controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
.testimonials_counter {
    display: flex;
    align-items: center;
}
.counter_item {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
}
.counter_item:hover {
    cursor: pointer;
}
.counter_item--active {
    background: #F063B8;
    width: 10px;
    height: 10px;
}


.testimonials_arrows {
    display: flex;
    align-items: center;
}
.arrow_wrapper--previous,
.arrow_wrapper--next {
    display: inline-block;
    width: 32px;
    height: 32px;

    margin-left: 20px;
}
.arrow_previous {
    position: relative;
    margin-right: 20px;

    display:inline-block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    opacity: .3;

}
.arrow_previous:before,
.arrow_previous:after {
    position: absolute;
    content: "";
    width: 10px;
    height: 2px;
    background-color: #fff;
}
.arrow_previous:before {
    top: 3px;
    left: -2px;
    transform: rotate(45deg);
}
.arrow_previous:after {
    bottom:3px;
    left: -2px;
    transform: rotate(135deg);
}
.arrow_next {
    position: relative;

    display:inline-block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    opacity: .3;
}
.arrow_next:before,
.arrow_next:after {
    position: absolute;
    content: "";
    width: 10px;
    height: 2px;
    background-color: #fff;
}
.arrow_next:before {
    top: 3px;
    right: -2px;
    transform: rotate(-45deg);
}
.arrow_next:after {
    bottom:3px;
    right: -2px;
    transform: rotate(-135deg);
}
.arrow_wrapper--next:hover,
.arrow_wrapper--previous:hover {
    cursor: pointer;
    opacity: .6;
}
.arrow_wrapper--next:hover .arrow_next{
    width: 30px;
}
.arrow_wrapper--previous:hover .arrow_previous {
    width: 30px;
}
.arrow--active {
    opacity: 1;
    width: 40px;
}


/* Footer */

.footer {
    margin-top: 150px;

    border-top: 2px solid rgba(156, 105, 226, 0.2);
    padding-top: 100px;
    padding-bottom: 96px;
}
.footer_inner {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    grid-template-rows: 160px 380px 50px;
    justify-items: left;
}
.footer_title {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 1rem;
    line-height: 160%;
    color: #212353;
    margin-bottom: 30px;
}
.footer_text {
    grid-column: 1 / span 2;
    align-self: start;
    display: flex;
    flex-direction: column;
    min-height: 50px;
    justify-content: space-between;
}


.footer_logo {
    display: flex;
    margin-bottom: 25px;
}
.footer_logo .logo {
    margin-right: 20px;
}
.logo_title {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 160%;

    color: #212353;
}

.footer_address {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
    width:58%;
    margin-bottom: 20px;
}
.footer_contactinfo {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
}

.footer_links {
    list-style: none;
}
.footer_links li a {
    text-decoration: none;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 250%;

    color: #212353;
}
.footer_links li a:hover {
    color: #F063B8;;
}

.footer_icons a {
    text-decoration: none;
}
.social_icon_bg {
    display: inline-block;
    position: relative;
    margin-right: 14px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #212353;
    opacity: 0.1;
}
.social_icon_bg:hover {
    background-color: #F063B8;
    opacity: 1;
    box-shadow: 0px 3px 10px rgba(75, 93, 104, 0.3);
}
.social_icon {
    position: absolute;
    z-index:10;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    height: 18px;
    fill: #fff;
}

.footer_copyright {
    align-self: center;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
}
.footer_message {
    grid-column-start: 4;
    justify-self: end;
    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #9C69E2;
    background: rgba(75, 93, 104, 0.1);
    opacity: 1;

    background-image: url('./img/icons/message-icon.svg');
    background-repeat:no-repeat;
    background-position: center center;
}
.footer_message:hover {
    cursor: pointer;
    background-color: #9C69E2;
    background-image: url('./img/icons/message-icon-invert.svg');
    background-repeat:no-repeat;
    background-size: 30px 29px;
    background-position: center center;
    box-shadow: 0px 3px 10px rgba(75, 93, 104, 0.3);
}



