.uikit__button {
  display: grid;
  width: 500px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px 15px;
}

.tabs {
  display: flex;
}
.tabs .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  font-family: "Helvetica";
  text-align: center;
  width: 144px;
  height: 46px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
}