.general {
    padding-top: 0;
    padding-bottom: 110px;

    &_features-section {
        margin-top: 60px;
    }
    &_icon {
        margin-bottom: 14px;
    }
    &_description {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 0.75rem;
        line-height: 1.125rem;

        color: #5D6970;
    }
    &_img {
        width: 100%;
    }
    @media screen and (max-width:1024px){
        padding-top: 30px;
        padding-bottom: 50px;
    }
    @media screen and (max-width:568px) {
        padding-top: 50px;
    }
}