.header {
    padding-top: 25px;
}
.nav {
    &_menu {
        display: flex;
    }
    &_item {
        display: inline-block;
    }
    &-link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1.2rem;
        padding-bottom: 0;
        padding-top: 0;


        color: #505F98;
        margin-right: 50px;
    }
    &_link_animation {
        display: inline-block;
        overflow: hidden;
    }
    &_link_animation span {
        position: relative;
        display: inline-block;
        margin-top: 5px;

        transition: transform 0.3s;
    }
    &_link_animation span::before {
        position: absolute;
        white-space: nowrap;	
        top: 100%;
        content: attr(data-hover);
        font-weight: 500;
    }
    &_link_animation:hover span,
    &_link_animation:focus span {
	transform: translateY(-100%);
}
    

    @media screen and (max-width: 992px) {
        &_menu {
            margin-top: 0;
        }
        &-link {
            margin-right: 15px;
        }
    }
    @media screen and (max-width: 768px) {
        &_menu {
            margin-top: 25px;
        }
        &-link {
            margin-right: 25px;
        }
        &-link:first-child {
            padding-left: 0;
        }
    }
}
