.pricing {
    position: relative;
    padding-top: 235px;
    padding-bottom: 175px;
    background-color: #f3f6ff;

    &::before {
        position: absolute;
        top:0;
        display: block;
        content: "";
        width: 100%;
        height: 90px;
        background-color: #fff;
        border-bottom-left-radius: 50% 90%;
        border-bottom-right-radius: 50% 90%;
    }
    &_title {
        margin-bottom: 16px;
    }
    &_text {
        margin: 40px;
    }
    &_info {
        margin-bottom: 60px;
    }
    &_price {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 3.125rem;
        line-height: 4.125rem;
        text-align: center;
        letter-spacing: 1px;

        color: #222F65;
    }
    &_item {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.625rem;
        text-align: center;

        color: #37447E;
    }
    &_details {
        margin-bottom: 12px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1.5rem;
        text-align: center;

        color: #5D6970;
    }
    @media screen and (max-width: 568px) {
        padding-top: 150px;
        padding-bottom: 60px;
    }
}