
.icon {
    outline: none;
    border: none;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    &:hover {
        cursor: pointer;
    }
    & svg > path {
        fill: #fff;
    }
    &--small {
        width: 36px;
        height: 36px;
    }
    &--red {
        background-color: #FF3E1D;
        &:hover {
            background: $red-color--hover;
        }
        &:active {
            background: $red-color--active;
        }
    }
    &--green{
        background-color: #00D200;
        &:hover {
            background: $green-color--hover;
        }
        &:active {
            background: $green-color--active;
        }
    }
}