
.icon {
    outline: none;
    border: none;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    & svg > path {
        fill: #fff;
    }
    &--small {
        width: 36px;
        height: 36px;
    }
    &--red {
        background-color: #FF3E1D;
    }
    &--green{
        background-color: #00D200;
    }
}